.sprite {
	width: 32px;
	height: 32px;
	image-rendering: pixelated;
}

table {
	border-collapse: collapse;
}

table th,
table td {
  border: solid 1px;
  padding: 0;
  text-align: center;
}

.device {
	background-color: #eee;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}

.buttons {
	text-align: center;
	margin: 10px;
}

.memory {
	max-height: 320px;
	overflow-y: scroll;
}

.next-instruction {
	background-color: #FF0;
	color: #000;
}

#code {
	width: 100%;
	height: 256px;
}

.example-buttons {
	float:right;
}

.card-body {
	background: #343a40;
}
.code-example {
	background-color: #343a40;
	color: #fff;
}